body {
    font-family: "Raleway", sans-serif;
}

.container-wrapper {}

.container-wrapper--red {
    background-color: #ce300e;
    color: white;
}

.alert-container .col-12 {
    padding-left: 0;
    padding-right: 0; 
}

.site-wide-alert {
    border-radius: 0;
    margin-bottom: 0;
    padding: 5px 15px;
    border: 1px solid transparent;
    border-radius: 0;
} 

.callout-container {
    height: 100vh;

    background: url("../images/Whisky_Drinks_Highball_glass_Ice_525452_3840x2400.jpg") no-repeat bottom right fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
}

.content-container {
    padding-bottom: 75px;
    padding-top: 75px;
}

/* Navbar */

.nav-alert-container {
    position: absolute;
    top: 0;
    left: 0;
    padding-left: 0;
    padding-right: 0;
    z-index: 1;
}

.navbar {
    margin-bottom: 0;
    border: 0;
    width: 100%;
    background-color: rgba(0,0,0,0.25);
}

.navbar .navbar-toggler {
    border: 0;
}

.navbar-dark .navbar-brand {
    font-weight: bold;
}

.navbar .navbar-nav a {
    font-weight: bold;
}

/* Jumbotron */

.jumbotron {
    background-color: transparent;
}

.jumbotron-header {
    color: white;
    font-weight: bolder;
    margin-bottom: 30px;
}

.jumbotron .lead {
    margin: 25px 0;
    color: #dedede;
}

.jumbotron small {
    font-size: 60%;
    font-style: italic;
    color: #e6e6e6;
}

.block-divider {
    width: 150px;
    height: 5px;
    border: 0;
    background-color: #444;
}

.block-divider--orange {
    background-color: #d64500;
}

.block-divider--white {
    background-color: white;
}

.block-divider--short {
    width: 80px;
}


/* Buttons */

.btn--cta {
    font-weight: bold;
    border-radius: 23px;
    
}

.btn--red {
    color: white;
    background-color: #ce300e;
    border-color: #ce300e;
}

.btn--red:hover,
.btn--red:active,
.btn--red:focus,
.btn--red:active:focus {
    background-color: #f85935;
    border-color: #f85935;
}

/* Page Headers */

.page-header {
    margin-bottom: 0;
    border-bottom: 0;
    text-align: center;
}

.page-header h2 {
    margin-top: 0;
}

.quotes .page-header {
    margin-top: 25px;
}


.feature {
    text-align: center;
    margin-bottom: 40px;
    margin-top: 15px;
}

.feature i {
    margin-bottom: 20px;
    font-size: 45px;
    line-height: 45px;
}

.feature .btn {
    background-color: white;
    border-color: white;
    border-radius: 15px;
    min-width: 100px;
    font-weight: bold;
    margin-top: 10px;
    color: ce300e;
}